<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>

  <script src="main.js"></script>
</head>
<body ng-app='myApp' ng-controller='mainCtrl'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 noBorPad">
        <div class="row">
          <div class="topper noBorPad">
            <div class="col-xs-6">
              <div class="row">
              <div class="col-xs-8 noBorPad">
                <h4 class="balance">Balance: <span id="balance">100,000</span> $</h4>
                <h5 class="debit">Debit: <span id="balance">50000</span> $</h5>
                <h5 class="credit">Credit: <span id="balance">150000</span> $</h5>
              </div>

              </div>
            </div>
            <div class="col-xs-6 text-right">
              <div class="row">
                <h2 class="logo"><span class="glyphicon glyphicon-king"></span>Banking App</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-xs-6">
            <div class="row">
              <div class="form-group">
                <label>Description:</label>
                <input type="text" class="form-control" placeholder="Name">
              </div>
              <div class="form-group">
                <label>Date:</label>
                <input type="date" class="form-control">
              </div>
              <div class="form-group">
                <label for="sel1">Debit/Credit</label>
                <select class="form-control" id="">
                  <option>Debit</option>
                  <option>Credit</option>
                </select>
              </div>
              <div class="form-group">
                <label>Note:</label>
                <input type="text" class="form-control" placeholder="Enter notes">
              </div>
            </div>
            <div class="row">
              <button class="btn btn-success addTransaction"><span class="glyphicon glyphicon-plus"></span>Add transaction</button>
              <button class="btn btn-danger clearTransaction"><span class="glyphicon glyphicon-trash"></span>Clear</button>
            </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="ad">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group search">
            <label>Search</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <table class="table transactions">
            <thead>
              <th>Date</th>
              <th>Description</th>
              <th>Dr</th>
              <th>Cr</th>
              <th>Note</th>
              <th class="buttonField">Edit</th>
              <th class="buttonField">Delete</th>
            </thead>
            <tbody>
              <tr ng-repeat="transaction in transactions track by $index">
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.dr }}</td>
                <td>{{ transaction.cr }}</td>
                <td>{{ transaction.note }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</body>
</html>
