<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angular</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
  <script src="http://momentjs.com/downloads/moment.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <script src="main.js"></script>
</head>
<body ng-app='myApp' ng-controller='mainCtrl'>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 noBorPad">
        <div class="row">
          <div class="topper noBorPad">
            <div class="col-xs-6">
              <div class="row">
              <div class="col-xs-8 noBorPad">
                <h4 class="balance"><strong><u>Balance: <span id="balance" ng-model="totalBalance"> {{ totalBalance }}</span> $</u></strong></h4>
                <h5 class="debit">Debit: <span id="balance" ng-model="totalDebit">{{totalDebit}}</span> $</h5>
                <h5 class="credit">Credit: <span id="balance" ng-model="totalCredit">{{totalCredit}}</span> $</h5>
              </div>

              </div>
            </div>
            <div class="col-xs-6 text-right">
              <div class="row">
                <h2 class="logo"><span class="glyphicon glyphicon-king"></span>Banking App</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-xs-6">
            <div class="row">
              <div class="form-group">
                <label>Description:</label>
                <input type="text" class="form-control" placeholder="Name" ng-model="description">
              </div>
              <div class="form-group">
                <label>Date:</label>
                <input type="date" class="form-control" ng-model="date">
              </div>
              <div class="form-group">
                <label>Debit/Credit</label>
                <select class="form-control" ng-model="entry">
                  <option>Debit</option>
                  <option>Credit</option>
                </select>
              </div>
              <div class="form-group">
                <label>Value in $'s:</label>
                <input type="number" class="form-control" ng-model="entryValue">
              </div>
              <div class="form-group">
                <label>Note:</label>
                <input type="text" class="form-control" placeholder="Enter notes (Optional)" ng-model="note">
              </div>
            </div>
            <div class="row">
              <button class="btn btn-success addTransaction" ng-click="addEntry()"><span class="glyphicon glyphicon-plus"></span>Add transaction</button>
              <button class="btn btn-danger clearTransaction"  ng-click="clearInput()"><span class="glyphicon glyphicon-trash"></span>Clear</button>
            </div>
        </div>
        <div class="col-xs-6">
          <div class="row">
            <div class="ad">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group search">
            <label>Search</label>
            <input type="text" class="form-control" ng-model='searchFilter'>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <table class="table transactions">
            <thead>
              <th ng-click="sortBy('date')">Date</th>
              <th ng-click="sortBy('description')">Description</th>
              <th ng-click="sortBy('dr')">Dr in $'s</th>
              <th ng-click="sortBy('cr')">Cr in $'s</th>
              <th ng-click="sortBy('note')">Note</th>
              <th class="buttonField">Edit</th>
              <th class="buttonField">Delete</th>
            </thead>
            <tbody>
              <tr ng-repeat="transaction in transactions | filter:searchFilter | orderBy:sortOrder track by $index ">
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.dr }}</td>
                <td>{{ transaction.cr }}</td>
                <td>{{ transaction.note }}</td>
                <td>
                  <button class="btn btn-success btn-sm editButton" ng-click="openEditEntry(transaction)">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                </td>
                <td>
                  <button class="btn btn-danger btn-sm removeButton" ng-click="deleteEntry(transaction)">
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>

  <!-- Edit modal -->
<div class="modal fade bs-edit-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="">Edit entry: <span class="contactUnderEdit"></span></h4>
      </div>
      <div class="modal-body text-center">
        <div class="form-group">
          <label>Description:</label>
          <input type="text" class="form-control" placeholder="Name" ng-model="modalDescription">
        </div>
        <div class="form-group">
          <label>Date:</label>
          <input type="date" class="form-control" ng-model="modalDate">
        </div>
        <div class="form-group">
          <label>Debit/Credit</label>
          <select class="form-control" ng-model="modalEntry">
            <option>Debit</option>
            <option>Credit</option>
          </select>
        </div>
        <div class="form-group">
          <label>Value in $'s:</label>
          <input type="number" class="form-control" ng-model="modalEntryValue">
        </div>
        <div class="form-group">
          <label>Note:</label>
          <input type="text" class="form-control" placeholder="Enter notes" ng-model="modalNote">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="editContact" ng-click='editEntry()'>Edit</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
